# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
.vite/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/

# Sass cache
.sass-cache/

# Build artifacts
*.cache

.kilo/
